:root {
  --image-width: min(80vw, 1600px);
}
main section img {
  border-radius: 0;
}
main section.image.scrollable {
  height: 1000px;
}
main section.image img,
main section.image.scrollable img {
  max-width: var(--image-width);
  height: auto;
}
main section.image.scrollable img {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

img-comparison-slider {
  --divider-width: 5px;
  --divider-color: white;
  --divider-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  --default-handle-color: var(--brand);
  --default-handle-opacity: 0;
  outline: none;
  max-width: var(--image-width);
  height: auto;
}
