:root {
  --base-size: 1rem;
  --scale: 1.3;
  --measure: 60ch;
  --font-weight: 400;
}

@media screen and (width > 800px) {
  :root {
    --base-size: 1.2rem;
    --scale: 1.3;
    --font-weight: 300;
  }
}

main {
  color: var(--text-color);
  font-size: var(--base-size);
  font-weight: var(--font-weight);

  h1,
  h2,
  h3 {
    color: var(--brand);
    font-weight: calc(var(--font-weight) / var(--scale));
    /* hyphens: auto; */
    text-wrap: balance;
  }

  h1 {
    margin-inline-start: -4px;
    font-weight: calc(var(--font-weight) / var(--scale));
    font-size: calc(var(--base-size) * var(--scale) * 2.5);
    line-height: 1.1;
  }

  h2 {
    margin-inline-start: -3px;
    font-size: calc(
      var(--base-size) * var(--scale) * var(--scale) * var(--scale)
    );
  }

  h3 {
    margin-inline-start: -1px;
    font-size: calc(var(--base-size) * var(--scale) * var(--scale));
  }

  p,
  li {
    line-height: 150%;
    text-wrap: pretty;
  }

  ul,
  ol {
    padding: 0 0 0 1em;

    li {
      margin-bottom: 0.5em;
    }
  }

  ul {
    list-style: square;
  }

  strong {
    color: var(--brand);
    font-weight: 600;
  }

  section {
    padding: 0 2rem;

    &.text {
      max-inline-size: var(--measure);
      margin: 4rem auto;

      &.case {
        margin: 8rem auto;
      }

      h2 {
        margin-block-end: 1rem;
      }

      h3 {
        font-weight: 150;
        margin-block-end: 1rem;
      }

      h4 {
        margin: 0;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--subtle);
      }

      h5 {
        margin: 1rem 0;
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--subtle);
      }

      figure {
        display: block;
        max-inline-size: calc(var(--measure) - 2rem);
        margin: 1rem 0;

        img {
          width: 100%;
        }

        figcaption {
          color: oklch(from var(--subtle) calc(l - 0.2) c h);
          font-size: 0.9rem;
          text-align: center;
        }
      }

      img {
        max-inline-size: 100%;
        height: auto;

        &.border {
          border: 1px solid var(--subtle-text);
        }
      }

      &.back {
        text-align: center;
        padding: 6rem 0;
      }
    }

    &.image {
      h3 {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 200;
        color: var(--text-color);
        margin: 0 0 2rem 0;
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      background-color: var(--subtle);

      img {
        height: auto;
        max-inline-size: 80vw;
        display: block;
        margin: 0 auto;
      }

      /* Figma embeds */
      iframe {
        display: block;
        width: 100%;
        max-width: 80vw;
        height: 80vh;
        border: none;
      }

      video {
        display: block;
        width: 100%;
        max-width: 2000px;
        height: auto;
        border-radius: 0.5rem;
        outline: 2px solid black;
        outline-offset: -2px;
      }

      &.scrollable {
        display: block;
        max-height: 80vh;
        overflow-y: auto;

        img {
          width: 100%;
          max-width: 1100px;
        }
      }
    }
  }

  a {
    color: var(--brand);
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      --gap: 1rem;
      padding: calc(var(--gap) * 0.25) var(--gap) calc(var(--gap) * 0.5)
        var(--gap);
      margin: 0 calc(var(--gap) * -1);
      background-color: var(--brand);
      color: var(--brand-reverse);
      border-radius: var(--radius);
      z-index: 2000;
    }
  }
}
