---
import Layout from "../layouts/Layout.astro";
import AnimatedBackground from "../components/AnimatedBackground";
---

<Layout title="Bomber Studios" description="Ale Muñoz's personal website">
  <AnimatedBackground client:only="react" />
  <main>
    <h1>Bomber Studios</h1>
    <p>Welcome to my personal website.</p>
    <p>
      I'm Ale Muñoz, a software designer who loves orange, bikes, and writing
      code that does fun things.
    </p>
  </main>
</Layout>
