---
import Layout from "../layouts/Layout.astro";
import AnimatedBackground from "../components/AnimatedBackground";
---

<Layout title="Bomber Studios" description="Ale Muñoz's personal website">
  <AnimatedBackground client:only />
  <main>
    <h1 class="text-gradient">Bomber Studios</h1>
    <p>Welcome to my personal website.</p>
    <p>
      I'm Ale Muñoz, a software designer who loves orange, bikes, and writing
      code that does fun things.
    </p>
  </main>
</Layout>

<style>
  main {
    padding: 2em;
    margin: auto;
    width: 400px;
    h1 {
      color: var(--accent);
    }
  }
</style>
