.square,
.dot {
  position: absolute;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background-color: #f60;
  border-radius: 1em;
  opacity: 0.3;
}

.position {
  position: absolute;
  width: 150px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-left: -75px;
  margin-top: -25px;
  z-index: 10;
}

.dot {
  opacity: 0.2;
  background-color: transparent;
  border: 1px solid var(--accent);
}

#myCanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

button {
  transition: all 200ms;
  color: var(--black-90);
  border: 1px solid var(--button-border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-vertical) var(--padding-horizontal);

  font-size: var(--font-size);
  text-shadow: 0 1px 0 var(--alpha-40);

  background: linear-gradient(to bottom, var(--black-10), var(--black-30));
  box-shadow:
    0 var(--spacing-half) var(--spacing) rgba(0, 0, 0, 0.2),
    inset 0 1px 0 var(--alpha-50);

  &:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, white, var(--black-30));
  }
  &:active {
    /* border-top-width: 2px; */
    padding-top: calc(var(--padding-vertical) + 1px);
    padding-bottom: calc(var(--padding-vertical) - 1px);
    box-shadow:
      0 0 0 rgba(0, 0, 0, 0),
      inset 0 1px 4px var(--black-40);
  }
}