---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content=`Ale Muñoz - Portfolio - Case for ${title}`
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ale Muñoz - Portfolio - {title}</title>
  </head>
  <body>
    <slot />
    <main>
      <section class="text">
        <a href="/portfolio">‹ Back to portfolio</a>
      </section>
    </main>
  </body>
</html>

<style is:global>
  html,
  body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
</style>
