---
import "@styles/portfolio.css";
import BaseLayout from "@layouts/BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
const description = "Ale Muñoz - Projects - " + title;
---

<BaseLayout title={title} description={description}>
  <slot />
  <section class="text back">
    <a href="/projects">‹ Back to projects</a>
  </section>
</BaseLayout>
